<ol class="breadcrumb container">
  <li class="breadcrumb-item"><a routerLink="">Home</a></li>
  <li class="breadcrumb-item"><a routerLink="/our-products">Our Products</a></li>
  <li class="breadcrumb-item active">N9M Platform Firmware</li>
</ol>
<main class="container">
  <h1 class="text-center">N9M Platform Firmware</h1>
  <div class="row">
    <div class="col-md-6">
      <p class="lead">Easy Operation:</p>
      <ul>
        <li>The brand new GUI design (more user friendly)</li>
        <li>Optimize booting up process  to make the system boot up faster</li>
        <li>Supports multiple languages</li>
        <li>Single package for the recording file for one day. Playback by time bar for easy operation</li>
        <li>The special design according to the video file characters, easy to find out the video files from the mass data storage</li>
      </ul>
    </div>
    <div class="col-md-6">
      <img class="d-block w-100" src="assets/img/554868c5d1099.png" alt="N9M Platform Firmware">
    </div>
    <div class="col-md-6">
      <p class="lead">Special Data Record Mode:</p>
      <ul>
        <li>Support recording dual data backup function to secure the data</li>
        <li>Supports maximum 1 hour pre-recording</li>
        <li>Supports synchronous decoding & encoding, synchronous recording & playback to avoid any video data loss</li>
        <li>Supports the key frame option to save the hard disk capacity and longer the life span</li>
        <li>Supports alarm video locking function to secure that the data  are not be recovered in certain period</li>
        <li>Supports positioning, black box data storage to provide the proof for case analysis</li>
        <li>The exported video files will be saved as the general format which can be played in the PC directly.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <p class="lead">Easy Check:</p>
      <ul>
        <li>Upgrade package: Upgrade the firmware, MCU and CP4 together</li>
        <li>Supports the remote firmware upgrade for bulk of MDVRs</li>
        <li>Support Centre server time checking (no GPS and NTP)</li>
        <li>Supports EASY CHECK to check the MDR system working status to decrease the failure rate for the system</li>
        <li>Support the protection for the MDVR system when the power is disconnection during the firmware upgrading</li>
      </ul>
    </div>
    <div class="col-md-6">
      <p class="lead">Easy for Integration:</p>
      <ul>
        <li>Upgrade package: Upgrade the firmware, MCU and CP4 together</li>
        <li>Supports the remote firmware upgrade for bulk of MDVRs</li>
        <li>Support Centre server time checking (no GPS and NTP)</li>
        <li>Supports EASY CHECK to check the MDR system working status to decrease the failure rate for the system</li>
        <li>Support the protection for the MDVR system when the power is disconnection during the firmware upgrading</li>
      </ul>
    </div>
    <div class="col-md-6">
      <p class="lead">Special Features:</p>
      <ul>
        <li>Supports different alarm type and each alarm can support the output respectively</li>
        <li>Support triple streams</li>
      </ul>
    </div>
  </div>
  <h3 class="text-center">Screenshots</h3>
  <img src="assets/img/5548690ff19d3.png" alt="N9M Platform Firmware Screeshots" class="w-100">
  <hr>
  <img src="assets/img/5548694688a4f.png" alt="N9M Platform Firmware Screeshots" class="w-100">
  <hr>
  <img src="assets/img/55486966ceddf.png" alt="N9M Platform Firmware Screeshots" class="w-100">
  <hr>
  <img src="assets/img/55486983dfd9c.png" alt="N9M Platform Firmware Screeshots" class="w-100">
</main>