<ol class="breadcrumb container">
  <li class="breadcrumb-item"><a routerLink="">Home</a></li>
  <li class="breadcrumb-item"><a routerLink="/our-products">Our Products</a></li>
  <li class="breadcrumb-item active">CEIBA 2</li>
</ol>
<div class="container">
  <div class="row">
    <main class="col-md-6">
      <h1 class="text-center">CEIBA 2</h1>
      <p class="lead">CEIBA 2 Overview</p>
      <p>Streamax Australia's cloud based server solution with GPS, video, and metadata, offers exceptional value, in comparison to GPS only tracking solutions offered by our competitors</p>
      <p>Features:</p>
      <ul>
        <li>GPS Tracking</li>
        <li>Live View</li>
        <li>Heirarchial multi-vehicle monitoring</li>
        <li>Local and remote recording footage</li>
        <li>Evidence Management</li>
        <li>Alarm creation, configuration and monitoring</li>
        <li>Geo-Fencing</li>
        <li>Search criteria based automatic downloading</li>
        <li>Reporting</li>
        <li>Telemetry recording and playback</li>
      </ul>
    </main>
    <div class="col-md-6">
      <img class="d-block w-100" src="assets/img/b92603_0b73179d542f491eaa661234aa4b1413~mv2.jpg" alt="CEIBA 2">
    </div>
  </div>
  <img src="assets/img/5711fa73b5dde.jpg" alt="CEIBA 2 Overview" class="max-width">
  <img src="assets/img/5711fb1bd68df.png" alt="CEIBA 2 Features" class="max-width">
</div>