<ol class="breadcrumb container">
  <li class="breadcrumb-item"><a routerLink="">Home</a></li>
  <li class="breadcrumb-item"><a routerLink="/our-products">Our Products</a></li>
  <li class="breadcrumb-item active">Cameras</li>
</ol>
<section class="container">
  <h1 class="text-center">Our Cameras</h1>
  <div class="row">
    <article class="col-md-4">
      <h2 class="text-center">IP Cameras</h2>
      <img class="d-block w-100" src="assets/img/ip-camera.jpg" alt="IP Cameras">
      <p class="text-center"><a routerLink="ip" class="btn btn-outline-primary">See our IP Products</a></p>
    </article>
    <article class="col-md-4">
      <h2 class="text-center">Analog Cameras</h2>
      <img class="d-block w-100" src="assets/img/analog-camera.jpg" alt="Analog Cameras">
      <p class="text-center"><a routerLink="analog" class="btn btn-outline-primary">See our Analog Products</a></p>
      
    </article>
    <article class="col-md-4">
      <h2 class="text-center">AHD Cameras</h2>
      <img class="d-block w-100" src="assets/img/ahd-camera.jpg" alt="AHD Cameras">
      <p class="text-center"><a routerLink="ahd" class="btn btn-outline-primary">See our AHD PRoducts</a></p>
    </article>
  </div>
</section>