<ol class="breadcrumb container">
  <li class="breadcrumb-item"><a routerLink="">Home</a></li>
  <li class="breadcrumb-item"><a routerLink="/our-products">Our Products</a></li>
  <li class="breadcrumb-item active">Central Monitoring Software</li>
</ol>
<main class="container">
  <h1 class="text-center">Central Monitoring Software</h1>
  <div class="row">
    <div class="col-md-6">
      <p class="lead">Software overview:</p>
      <ul>
        <li>Mult-channel live view based on 3G/4G</li>
        <li>Shows the vehicle, GPS, alarm, log information clearly</li>
        <li>Supports to lock alarm vehicle automatically</li>
        <li>Supports PTZ control and MDVR remote configuration</li>
        <li>Supports remote recording</li>
        <li>Supports download and playback video file</li>
        <li>Vehicle management</li>
        <li>Database supported and GPS route playback</li>
        <li>Supports to export the report</li>
        <li>Different user level management</li>
        <li>WEB client login supported; iOS and android mobile phone client supported</li>
      </ul>
    </div>
    <div class="col-md-6">
      <img src="assets/img/52df6c09ecad2.jpg" alt="Central Monitoring Software" class="w-100">
    </div>
  </div>
</main>