<footer class="container">
    <div class="row">
        <div class="col-md">
            <img src="assets/img/streamax-logo.png" alt="" class="w-100">
            <p>Streamax Australia specializes in Mobile Digital Video Recording (MDVR) including cameras and accessories.</p>
            <p class="text-center">
                <a href="https://www.facebook.com/streamaxaustralia.com.au/" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/StreamaxAust" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/streamax_australia/" target="_blank"><i class="fab fa-instagram"></i></a>
            </p>
        </div>
        <div class="col-md">
            <p class="text-center"><a href="tel:1300 822 986">1300 822 986</a></p>
            <p class="text-center"><a href="mailto:info@streamaxaustralia.com.au">info@streamaxaustralia.com.au</a></p>
            <p class="text-center">Unit 35, 7 Hoyle Ave, Castle Hill NSW 2154, Australia</p>
            <p class="text-center">ABN: 58 162 569 904</p>
            <p class="text-center">NSW Master Licence: 000102857</p>
        </div>
        <div class="col-lg">
            <nav class="nav flex-column nav-pills">
                <a class="nav-link text-center" routerLinkActive="active" routerLink="/our-solutions">Our Solutions</a>
                <a class="nav-link text-center" routerLinkActive="active" routerLink="/our-products">Our Products</a>
                <a class="nav-link text-center" routerLinkActive="active" routerLink="/mdvr">MDVRs</a>
                <a class="nav-link text-center" routerLinkActive="active" routerLink="/cameras">Cameras</a>
                <a class="nav-link text-center" routerLinkActive="active" routerLink="/accessories">Accessories</a>
                <a class="nav-link text-center" routerLinkActive="active" routerLink="/about-us">About Us</a>
                <a class="nav-link text-center" routerLinkActive="active" routerLink="/contact-us">Contact Us</a>
            </nav>
        </div>
    </div>
    <hr>
    <p class="text-center">This website was created by <a href="http://shelleysoftwaredevelopment.com.au" target="_blank">Shelley Software Development</a></p>
    <p class="text-center">&copy; {{ year }} - Streamax Australia Pty Ltd</p>
</footer>