<div class="container d-none d-xl-block d-lg-block d-md-block">
  <app-header></app-header>
  <section class="section-quote-me text-center">
    <p>Let us quote you on your solution today that you require!</p>
    <p>
      <a routerLink="/quote-me" class="btn btn-outline-success btn-lg">Quote ME Now</a>
    </p>
  </section>
</div>
<main class="main-about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>About Us</h2>
        <p>Streamax Australia has been a market leader in the Mobile Digital Video Recording (MDVR) industry in Australia for many years. We Pride ourselves on our technical resources and after sales service. We aim to provide an efficient, effective and informative service to all our customers.</p>
        <p>Our products and services offer solutions to suit the needs from the smallest to largest of fleet operators.</p>
        <p>Learn More <a routerLink="/about-us">about us here</a></p>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card_img">
            <a routerLink="mdvr">
              <img class="max-width" src="assets/img/b92603_0b73179d542f491eaa661234aa4b1413~mv2.jpg" alt="About Us Image">
              <div class="hover-overlay effect-scale">
                <div class="img_overlay-container">
                  <div class="img_overlay-icon">
                    <p class="text-center">
                      <a class="btn btn-primary" routerLink="/about-us">Learn More</a>
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>  
  </div>
</main>
<div class="container">
  <section class="section-products">
    <h2 class="text-center"><a routerLink="/our-products">Our Products</a></h2>
    <article>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card_img">
              <a routerLink="mdvr">
                <img class="w-100" src="https://s3-ap-southeast-2.amazonaws.com/streamax-bucket/products/x7-e1608-1.png" alt="Image of a MDVR">
                <div class="hover-overlay effect-scale">
                  <div class="img_overlay-container">
                    <div class="img_overlay-icon">
                      <p class="text-center">
                        <a class="btn btn-primary" routerLink="/mdvr">Learn More</a>
                      </p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h3 class="text-center">MDVRs</h3>
          <p>Streamax Australia is a significant player in the industry. We’ve been supplying our goods to well known local and global companies for years, and have developed an excellent reputation within the community. </p>
          <p>A team of highly trained professionals firmly supports our engineers, and ensure that all of our products embody the latest design, technological and usability breakthroughs.</p>
          <p class="text-center"><a routerLink="/mdvr" class="btn btn-outline-primary">Learn More</a></p>
        </div>
      </div>
    </article>
    <article>
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center">Cameras</h3>
          <p>Streamax Australia offers a broad variety of cameras in analog, AHD, and IP to suit your requirements. We have a selection of cameras ranging from those for interior use, through to IP69K cameras for heavy-duty exterior use. <br> Explore here to find the perfect camera to suit your needs.</p>
          <p class="text-center"><a routerLink="/cameras" class="btn btn-outline-primary">Learn More</a></p>  
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card_img">
              <a routerLink="/cameras">
                <img class="w-100" src="assets/img/SE9-Black-2.jpg" alt="Image of a Cameras">
                <div class="hover-overlay effect-scale">
                  <div class="img_overlay-container">
                    <div class="img_overlay-icon">
                      <p class="text-center">
                        <a class="btn btn-primary" routerLink="/cameras">Learn More</a>
                      </p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card_img">
              <a routerLink="/accessories">
                <img class="w-100" src="https://s3-ap-southeast-2.amazonaws.com/streamax-bucket/products/accessories/cp4-touch-panel.png" alt="Image of a Accessories">
                <div class="hover-overlay effect-scale">
                  <div class="img_overlay-container">
                    <div class="img_overlay-icon">
                      <p class="text-center">
                        <a class="btn btn-primary" routerLink="/accessories">Learn More</a>
                      </p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h3 class="text-center">Accessories</h3>
          <p>Streamax Australia offers a wide range of accessories to complete your Mobile Digital Video Recording Systems and requirements. Our accessories range from hard drives, POE switches, and cables to touch screen display units, power supplies, and disk readers.</p>
          <p class="text-center"><a routerLink="/accessories" class="btn btn-outline-primary">Learn More</a></p>
        </div>
      </div>
    </article>
    <div>
      <hr>
      <h3 class="text-center">Software</h3>
      <p class="lead text-center text-primary">Check out our software that can provide to you!</p>
      <div class="row">
        <article class="col-6 col-md">
          <a routerLink="/ceiba">
            <h5 class="text-center">CEIBA 2</h5>
            <img class="w-100" src="assets/img/554872b6d0a1b.png" alt="CEIBA 2">
          </a>
        </article>
        <article class="col-6 col-md">
          <a routerLink="/n9m-platform-firmware">
            <h5 class="text-center">N9M Platform Firmware</h5>
            <img class="w-100" src="assets/img/55486b2d5637b.png" alt="N9M Platform Firmware">
          </a>
        </article>
        <article class="col-6 col-md">
          <a routerLink="/auto-station-report">
            <h5 class="text-center">Auto Station Report</h5>
            <img class="w-100" src="assets/img/567d0c4033938.jpg" alt="Auto Station Report">
          </a>
        </article>
        <article class="col-6 col-md">
          <a routerLink="/central-monitoring-software">
            <h5 class="text-center">Central Monitoring Software</h5>
            <img class="w-100" src="assets/img/52df6c09ecad2.jpg" alt="Central Monitoring Software">
          </a>
        </article>
      </div>
    </div>
  </section>
  <hr>
  <section class="section-solutions">
    <h2 class="text-center">Solutions</h2>
    <div class="row" *ngFor="let solution of solutions">
      <div class="col-md-6">
        <div class="card">
          <div class="card_img">
            <a [routerLink]="'our-solutions/' + solution.Name.S">
              <img class="max-width" [src]="solution.ImgUrl.S" [alt]="'Image of ' + solution.Name.S">
              <div class="hover-overlay effect-scale">
                  <div class="img_overlay-container">
                      <div class="img_overlay-icon">
                        <p class="text-center">
                          <a class="btn btn-primary" [routerLink]="'our-solutions/' + solution.Name.S">Learn More</a>
                        </p>
                      </div>
                  </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h3 class="text-center">{{ solution.Name.S }}</h3>
        <p>{{ solution.Description.S }}</p>
        <p class="text-center">
          <a [routerLink]="'our-solutions/' + solution.Name.S" class="btn btn-primary">Check Here for Details</a>
        </p>
      </div>
    </div>
  </section>

  <section>
    <h2 class="text-center">Contact Us!</h2>
    <app-contact></app-contact>
  </section>
</div>


<!-- 
To be Added
 -->