<div class="container" *ngIf="solution">
  <div class="row justify-content-center">
    <div class="col-md-8" *ngIf="lang.getLang() == 'english'">
      <img class="full-width" [src]="solution.ImgUrl.S" [alt]="solution.Name.S">
      <h2>{{ solution.Name.S }}</h2>
      <p>{{ solution.Description.S }}</p>
      <p class="lead">Call us today to discuss the solution that's best for you:<br>+66(0)818018298</p>
    </div>
    <div class="col-md-8" *ngIf="lang.getLang() == 'thai'">
      <img class="full-width" [src]="solution.ImgUrl.S" [alt]="solution.Name.S">
      <h2>{{ solution.ThaiName.S }}</h2>
      <p>{{ solution.ThaiDescription.S }}</p>
      <p class="lead">โทรหาเราวันนี้เพื่อหารือเกี่ยวกับโซลูชันที่ดีที่สุดสำหรับคุณ:<br>+66(0)818018298</p>
    </div>
  </div>
</div>