<main class="container">
  <h1 class="text-center">
    <span *ngIf="lang.getLang() == 'english'">About</span>
    <span *ngIf="lang.getLang() == 'thai'">เกี่ยวกับเรา</span>
    Streamax Thailand
  </h1>
  <div class="row">
    <div class="col-md-6 padding-top" *ngIf="lang.getLang() == 'english'">
      <p>Streamax Thailand has been a market leader in the Mobile Digital Video Recording (MDVR) industry in Thailand for many years. We Pride ourselves on our technical resources and after sales service. We aim to provide an efficient, effective and informative service to all our customers.</p>
      <p>Our products and services offer solutions to suit the needs from the smallest to largest of fleet operators.</p>
    </div>
    <div class="col-md-6 padding-top" *ngIf="lang.getLang() == 'thai'">
        <p>Streamax Thailand เป็นผู้นำในอุตสาหกรรมการบันทึกวิดีโอดิจิตอล (MDVR) ในประเทศไทยเป็นเวลาหลายปี เราภูมิใจในทรัพยากรทางเทคนิคและบริการหลังการขายของเรา เรามุ่งมั่นที่จะให้บริการที่มีประสิทธิภาพมีประสิทธิภาพและให้ข้อมูลแก่ลูกค้าของเรา</p>
        <p>ผลิตภัณฑ์และบริการของเรานำเสนอโซลูชั่นเพื่อตอบสนองความต้องการจากผู้ประกอบการเรือรายเล็กที่สุดและใหญ่ที่สุด</p>
    </div>
    <div class="col-md-6">
      <img class="max-width" src="assets/img/b92603_0b73179d542f491eaa661234aa4b1413~mv2.jpg" alt="About Us Image">
    </div>
  </div> 
</main>
<section class="container">
  <h2 class="text-center">Streamax Technology</h2>
  <p *ngIf="lang.getLang() == 'english'">Streamax Technology is a leading mobile surveillance solution provider with global perspective. Founded in 2002 and strongly committed to competitive mobile surveillance, Streamax continues to create maximum value for international end users, as well as distribution and installation companies.</p>
  <p *ngIf="lang.getLang() == 'thai'">Streamax Technology เป็นผู้ให้บริการโซลูชั่นการเฝ้าระวังมือถือชั้นนำที่มีมุมมองทั่วโลก ก่อตั้งขึ้นในปีพ. ศ. 2545 และให้ความสำคัญกับการเฝ้าระวังด้านโทรศัพท์มือถือที่มีความสามารถในการแข่งขัน Streamax ยังคงสร้างมูลค่าสูงสุดให้กับผู้ใช้ปลายทางสากลรวมทั้ง บริษัท จัดจำหน่ายและติดตั้ง</p>
  <p *ngIf="lang.getLang() == 'english'">Building on the intelligence of 300 dedicated engineers, the company has become a leader in technology innovation – along our recent history, Streamax has received over 100 exclusive patents, as well as a large number of awards.</p>
  <p *ngIf="lang.getLang() == 'thai'">จากประสบการณ์ด้านวิศวกร 300 คน บริษัท ได้กลายเป็นผู้นำนวัตกรรมด้านเทคโนโลยี - ตามประวัติล่าสุดของเรา Streamax ได้รับสิทธิบัตรมากกว่า 100 ฉบับรวมทั้งรางวัลมากมาย</p>
  <div class="row">
    <div class="col-md">
      <img class="w-100" src="assets/img/streamax/550a6680f206a.jpg" alt="Streamax Technology">
    </div>
    <div class="col-md">
      <img class="w-100" src="assets/img/streamax/550a669a57598.jpg" alt="Streamax Technology">
    </div>
    <div class="col-md">
      <img class="w-100" src="assets/img/streamax/550a66ac5635e.jpg" alt="Streamax Technology">
    </div>
    <div class="col-md">
      <img class="w-100" src="assets/img/streamax/550a66c19f8cf.jpg" alt="Streamax Technology">
    </div>
  </div>
  <p *ngIf="lang.getLang() == 'english'">Our solutions have been deployed worldwide, with over 800,000 installations applied to public transportation and taxi services, law enforcement vehicles, school buses, private fleets, logistics management, railway, metro and other areas. Our most noteworthy success stories include providing surveillance systems for the 2008 Beijing Olympics and Shanghai EXPO 2010. The company has also successfully presented itself across international milestone projects like the Ecuador Public Transportation, USA Yellow School Buses, Singapore Buses and others.</p>
  <p *ngIf="lang.getLang() == 'thai'">โซลูชันของเราได้รับการติดตั้งทั่วโลกโดยมีการติดตั้งมากกว่า 800,000 ชุดสำหรับการขนส่งสาธารณะและบริการรถแท็กซี่ยานพาหนะเพื่อการบังคับใช้กฎหมายรถโรงเรียนรถโดยสารส่วนตัวการจัดการโลจิสติกรถไฟรถไฟใต้ดินและพื้นที่อื่น ๆ เรื่องราวความสำเร็จที่สำคัญที่สุดของเรา ได้แก่ การจัดหาระบบเฝ้าระวังสำหรับการแข่งขันกีฬาโอลิมปิก 2008 Beijing Olympics และ Shanghai EXPO 2010 นอกจากนี้ บริษัท ยังประสบความสำเร็จในการนำเสนอโครงการต่าง ๆ เช่นโครงการ Ecuador Public Transportation, USA Yellow Busets, Singapore Buses และอื่น ๆ</p>
  <p *ngIf="lang.getLang() == 'english'">We continue to enjoy rapid and steady growth and would like to invite you to be part of our global success.</p>
  <p *ngIf="lang.getLang() == 'thai'">เรายังคงเพลิดเพลินกับการเติบโตอย่างรวดเร็วและมั่นคงและขอเชิญคุณเข้าร่วมเป็นส่วนหนึ่งของความสำเร็จระดับโลกของเรา</p>
</section>