<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="text-center text-danger">Page Not Found</h1>
      <p>The requested URL could not be found.</p>
      <p>Check the URL: {{ url }}</p>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
          <label for="url">URL</label>
          <input type="text" class="form-control" id="url" formControlName="url">
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Try Again</button>
        <a class="btn btn-secondary" routerLink="/">Back to Home</a>
      </form>
    </div>
    <div class="col-md-6">
      <img class="w-100" src="assets/img/error-1349562_1280.png" alt="404 error">
    </div>
  </div>
</div>