<main class="container">
  <h1 class="text-center">About Streamax Australia</h1>
  <div class="row">
    <div class="col-md-6 padding-top">
      <p>Streamax Australia has been a market leader in the Mobile Digital Video Recording (MDVR) industry in Australia for many years. We Pride ourselves on our technical resources and after sales service. We aim to provide an efficient, effective and informative service to all our customers.</p>
      <p>Our products and services offer solutions to suit the needs from the smallest to largest of fleet operators.</p>
    </div>
    <div class="col-md-6">
      <img class="max-width" src="assets/img/b92603_0b73179d542f491eaa661234aa4b1413~mv2.jpg" alt="About Us Image">
    </div>
  </div> 
</main>
<section class="container">
  <h2 class="text-center">Streamax Technology</h2>
  <p>Streamax Technology is a leading mobile surveillance solution provider with global perspective. Founded in 2002 and strongly committed to competitive mobile surveillance, Streamax continues to create maximum value for international end users, as well as distribution and installation companies.</p>
  <p>Building on the intelligence of 300 dedicated engineers, the company has become a leader in technology innovation – along our recent history, Streamax has received over 100 exclusive patents, as well as a large number of awards.</p>
  <div class="row">
    <div class="col-md">
      <img class="w-100" src="assets/img/streamax/550a6680f206a.jpg" alt="Streamax Technology">
    </div>
    <div class="col-md">
      <img class="w-100" src="assets/img/streamax/550a669a57598.jpg" alt="Streamax Technology">
    </div>
    <div class="col-md">
      <img class="w-100" src="assets/img/streamax/550a66ac5635e.jpg" alt="Streamax Technology">
    </div>
    <div class="col-md">
      <img class="w-100" src="assets/img/streamax/550a66c19f8cf.jpg" alt="Streamax Technology">
    </div>
  </div>
  <p>Our solutions have been deployed worldwide, with over 800,000 installations applied to public transportation and taxi services, law enforcement vehicles, school buses, private fleets, logistics management, railway, metro and other areas. Our most noteworthy success stories include providing surveillance systems for the 2008 Beijing Olympics and Shanghai EXPO 2010. The company has also successfully presented itself across international milestone projects like the Ecuador Public Transportation, USA Yellow School Buses, Singapore Buses and others.</p>
  <p>We continue to enjoy rapid and steady growth and would like to invite you to be part of our global success.</p>
</section>