/* You can add global styles to this file, and also import other style files */
.full-width {
    width: 80%;
}

.max-width {
    max-width: 100%;
}

.margin-top-1em {
    margin-top: 1em;
}

/* Cards Img */
.card {
    border: none;
}

.card .card_img {
    position: relative;
    width: 100%;
    overflow: hidden;
    
}

.card_img:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.img_overlay-container {
    position: relative;
    padding: 0 30px;
}

.img_overlay-container .img_overlay-title {
    color: #ffffff;
    margin-bottom: 10px;
}

.hover-overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .hover-overlay.effect-scale {
    transition: all 0.4s ease;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  
  .hover-overlay.effect-scale:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: opacity 0.4s, -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s, -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    /* background: rgba(10, 35, 59, 0.5); */
  }

  .card:hover .hover-overlay.effect-transformY, .card_img:hover .hover-overlay.effect-transformY {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  
  .card:hover .hover-overlay.effect-scale, .card_img:hover .hover-overlay.effect-scale {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  
  .card:hover .hover-overlay.effect-scale:before, .card_img:hover .hover-overlay.effect-scale:before {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }